.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #ff0066;
  border: none;
  color: white;
  padding: 12px 15px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  z-index: 200;
  transition: 0.3s;

  &:hover {
    background: #e1005c;
  }
}
