h1 {
  font-size: 40px;
  font-weight: 600;
}
h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}

@media (max-width: 850px) {
  h2 {
    font-size: 26px;
  }
}

